<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>PTT Commenter Detector</title>
  </head>
  <body>
    <h1>
      Welcome to PTT Commenter Detector {{data.page}}
    </h1>

    <h3>
      PTT is the largest online forum in Taiwan, with an average of nearly 20,000 users online per hour. <br>
      Due to the rise of information warfare and the increase in cyber warriors manipulating public opinion,
      an unbiased platform is necessary for PTT users to help detect these malicious behaviors. <br>
      The PTT Comment Detector is that platform, providing objective and descriptive data for PTT users.
    </h3>

    <h3>
      There are over 20,000 boards on PTT. However, due to time and cost considerations, two specific boards have been selected. <br>
      One is the Gossiping board, which is the most popular. <br>
      The other is the HatePolitics board, created specifically for PTT users to express their political opinions.
    </h3>

    <h4>There are three parts in PTT Commenter Detector</h4>
    <ul>
      <li>Overview: Displays the latest keyword trends on PTT, as well as the top 10 trending and popular articles in the Gossiping board.</li>
      <li>Keyword: Shows the most active commenters related to the keyword you entered and their connections with each other.</li>
      <li>Commenter: Presents a graph illustrating the activity time and a word cloud for the commenter you specified.</li>
    </ul>

  </body>
</html>